@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(90deg, #141e30 0%, #243b55 100%);
}

.todo-container {
  max-width: 50vw;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #eee;
}

.todo-input {
  font-size: 1.2rem;
  padding: 5px;
  background-color: #eee;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 20px;
}

.todo-items {
  width: 350px;
  display: grid;
  grid-template-columns: 80% 10% 10%;
  grid-gap: 8px;
  margin-bottom: 20px;
}

.todo {
  align-self: start;
  color: #eee;
  padding: 5px;
}

.btn-complete {
  fill: #eee;
}

.btn-complete:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn-remove {
  fill: #eee;
}

.btn-remove:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 385px) {
  .todo-container {
    text-align: center;
    margin: 25px auto;
    max-width: 350px;
    padding: 5px;
  }

  .todo-input {
    font-size: 1.1rem;
    width: 290px;
  }

  .title {
    font-size: 2.2rem;
  }

  .todo-items {
    width: 320px;
  }

  .todo {
    text-align: left;
  }
}
